# fly.toml app configuration file generated for newboard on 2025-11-10T14:39:03+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'newboard'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 1234
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
